<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Fake Data API" />
    <meta name="image" property="og:image" content="preview.png" />
    <meta name="author" content="Ebenezer Ogungbe" />
    <meta
      property="og:description"
      content="Rest API providing mock products and users data for teaching and test purposes. Built with NodeJS and Express."
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Fake Data API</title>
  </head>
  <body>
    <header><button class="nav-open">Menu</button></header>
    <div class="sidebar-container">
      <ul class="navlinks">
        <li class="navlink"><a class="link active" href="#home">Home</a></li>
        <li class="navlink">
          <a class="link" href="#howtouse">How to use</a>
        </li>
        <li class="navlink">
          <a class="link" href="#resources">Resources</a>
        </li>
        <li class="navlink"><a class="link" href="#routes">Routes</a></li>
      </ul>
    </div>
    <main>
      <section class="navigation">
        <div class="name">
          <h1>Fake Data API</h1>
        </div>
        <ul class="navlinks">
          <li class="navlink">
            <a class="link active-link" href="#home">Home</a>
          </li>
          <li class="navlink">
            <a class="link" href="#howtouse">How to use</a>
          </li>
          <li class="navlink">
            <a class="link" href="#resources">Resources</a>
          </li>
          <li class="navlink"><a class="link" href="#routes">Routes</a></li>
        </ul>
      </section>
      <section class="content">
        <!-- HOME -->
        <div class="content-area" id="home">
          <div class="content-title">
            <h1>
              The <span class="blue">Only</span> Mock Data API You'll Ever Need
            </h1>
            <p>for teaching, testing, and prototyping</p>
          </div>
          <div class="content-body hero">
            <img src="home.webp" alt="home" />
          </div>
        </div>

        <!-- HOW TO USE -->
        <div class="content-area" id="howtouse">
          <div class="content-title">
            <h1>How to use</h1>
          </div>
          <div class="content-body">
            <div class="code">
              <pre>
                <code>
fetch('https://custom-fakestore.vercel.app/products/1')
  .then(response => response.json())
  .then(json => console.log(json))
                </code>
              </pre>
            </div>
            <a
              href="https://custom-fakestore.vercel.app/products/1"
              class="test"
              >Try it</a
            >
          </div>
        </div>
        <!-- RESOURCES -->
        <div class="content-area" id="resources">
          <div class="content-title">
            <h1>Resources</h1>
          </div>
          <div class="content-body">
            <p class="top">Fake Data API comes with the following resources</p>
            <div class="lists">
              <p class="list">
                <a class="routes" href="/products">Products</a
                ><span class="right">30 products</span>
              </p>
              <p class="list">
                <a class="routes" href="/users">Users</a
                ><span class="right">20 users</span>
              </p>
              <p class="list">
                <a class="routes" href="">Todos</a
                ><span class="right">20 todos</span>
              </p>
              <p class="list">
                <a class="routes" href="">Posts</a
                ><span class="right">20 posts</span>
              </p>
            </div>
            <p class="bottom">
              some resources are related. For example, todos have user IDs that
              have a corresponding user in the users resource
            </p>
          </div>
        </div>
        <!-- ROUTES -->
        <div class="content-area" id="routes">
          <div class="content-title">
            <h1>Routes</h1>
          </div>
          <div class="content-body">
            <p class="top">All HTTP methods are supported</p>
            <div class="lists">
              <p class="list">
                GET
                <span class="right"
                  ><a
                    class="routes"
                    href="https://custom-fakestore.vercel.app/products"
                    >/products</a
                  ></span
                >
              </p>
              <p class="list">
                GET
                <span class="right"
                  ><a
                    class="routes"
                    href="https://custom-fakestore.vercel.app/products/1"
                    >/products/1</a
                  ></span
                >
              </p>
              <p class="list">
                GET
                <span class="right"
                  ><a
                    class="routes"
                    href="https://custom-fakestore.vercel.app/products/categories"
                    >/products/categories</a
                  ></span
                >
              </p>
              <p class="list">
                GET
                <span class="right"
                  ><a
                    class="routes"
                    href="https://custom-fakestore.vercel.app/products/category/fashion"
                    >/products/category/fashion</a
                  ></span
                >
              </p>
              <p class="list">
                GET
                <span class="right"
                  ><a
                    class="routes"
                    href="https://custom-fakestore.vercel.app/products?limit=5"
                    >/products?limit=5</a
                  ></span
                >
              </p>
              <p class="list">
                POST
                <span class="right"
                  ><a class="routes" href="">/products</a></span
                >
              </p>
              <p class="list">
                PUT
                <span class="right"
                  ><a class="routes" href="">/products/1</a></span
                >
              </p>
              <p class="list">
                PATCH
                <span class="right"
                  ><a class="routes" href="">/products/1</a></span
                >
              </p>
              <p class="list">
                DELETE
                <span class="right"
                  ><a class="routes" href="">/products/1</a></span
                >
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script src="app.js"></script>
  </body>
</html>
